<!-- !!ADD ADDITIONAL CSS -->

<nav id="mainNavbar" class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
    <div class="container-fluid px-5">
        <a class="navbar-brand px-lg-3" href="/">FITNESS MAVENS</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link px-lg-3 px-xl-4" aria-current="page" href="/">HOME</a>
                <a class="nav-link px-lg-3 px-xl-4" href="/reviews">REVIEWS</a>
                <a class="nav-link px-lg-3 px-xl-4" href="about">ABOUT</a>
                <a class="nav-link px-lg-3 px-xl-4" href="contactus">CONTACT US</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser) {%>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <% } else {%>
                <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
