<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center fixed" id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-lg-6">
                <div class="content d-none d-md-block landing">
                    <!-- <img src="fmlogo_prev_ui.png" alt=""> -->
                    <h1><i>FITNESS MAVENS</i> - Functional Fitness Studio</h1>
                    <p class="fs-md-1">Where Fitness Becomes Your Lifestyle</p>
                </div>
                <div class="content d-block d-md-none logo-bg">
                    <h1 class="logo">FITNESS MAVENS</h1>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <div class="typewriter mb-3 text-center">
                                <h2 class="fs-4 fst-italic lh-lg">MOVE BETTER LIVE BETTER.</h2>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <!-- <div class="col"></div> -->
        </div>
    </div>
</div>
