<div class="py-5 vh-100" id="review">
    <div class="row justify-content-center text-center gx-0">
        <div class="col-10 col-lg-8 my-5 mb-md-0 shadow-lg p-3 about-sec rounded opacity-75">
            <h2 class="display-3 head">Clients' Reviews</h2>

            <p class="lead text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae beatae, maiores deserunt
                in voluptatibus aspernatur architecto excepturi delectus soluta?
            </p>
            <a href="/reviews" class="btn btn-primary btn-md-sm">Read More</a>
            <% if(currentUser) {%>
                <a href="/reviews/new" class="btn btn-primary btn-md-sm">Post review</a>
                <% } %> 
        </div>
    </div>
</div>
