.contact-form {
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
}

/* .contact-us {
    text-shadow: 2px 4px 2px #0db24c;
    position: absolute;
    font-weight: 600;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
} */

